  <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/clients/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
        </div>
    </div>

   
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/SanPham" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản lý sản phẩm
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>

            </li>
            <li class="nav-item">
                <a href="/Admin/HangSX" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý hãng sản xuất
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/ThongKe" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Thống kê
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/DonHang" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đơn hàng
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

            @if (ViewBag.Title == "Admin" || ViewBag.Title == "User"|| ViewBag.Title == "themTaiKhoan" || ViewBag.Title == "Edit")
            {


                <li class="nav-item menu-is-opening menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Quản lý tài khoản
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/TaiKhoanAD" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tài khoản Admin</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/User" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tài khoản User</p>
                            </a>
                        </li>

                    </ul>
                </li>
            }
            else
            {
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Quản lý tài khoản
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/admin/TaiKhoanAD" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tài khoản Admin</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/User" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Tài khoản User</p>
                    </a>
                </li>

            </ul>
        </li>            }
            <li class="nav-item">
                <a href="/Admin/Account/logout" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng xuất
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->


</div>}
